*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}


:root{
    --body-bg:#fafafa;
    --body-color:#555;
}

.dark-mode:root{
    --body-bg:#212529;
    --body-color:#fff;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color:var(--body-bg);
}


.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-cel{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-cel img{
    height: 50rem;
}

.instagram-login{
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.grupo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.contas{
    display: flex;
    align-items: center; /* Verticalmente os elementos ficam ao centro | - | */
    justify-content: end;
    width: 80%;
    border-top: 4px solid rgb(243, 243, 243);
    padding: 1rem;
}

.contas .instagram-login-user{
    border-top: 4px solid rgb(243, 243, 243);
    padding: 1rem;
}

.contas img:nth-child(1) {
    max-height: 3rem;
}

.grupo:nth-child(1) {
    min-height: 14rem;
}

.instagram-logo{
    height: 3rem;
}

.foto-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden; /* deixa os elementos dentro escondidos, sem ultrapassar o limite da div*/
}

.foto-perfil img{
    height: 6rem;
}

.instagram-login-link{
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout{
    color: #0095f6;
    margin-top: 1rem;
}

.sem-conta{
    color: darkgray;
}

.link-azul{
    color:#0095f6;
}

.baixar-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.baixar-aplicativos{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./images/googleplay-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./images/apple-button.png');
}


/* media queries */


@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {



    .instagram-wrapper {
        width: 90%;
        justify-content: center;
    }

    .instagram-login{
        width: 80%;
    }

    .instagram-cel{
        display: none;
    }

    .instagram-wrapper{
        width: 100%;
    }
}